h1{
    color: rgb(117, 23, 23);
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
h3{
    color: blueviolet;
}
h4{
    color: rgb(60, 60, 183);
}
h4{
    text-align: center;
}
body{
    background-color: lightcoral;
}
div{
    text-align: center;
}
.fd{
    text-align: right;
}
.aa{
    text-align: right;
}
img{
    height: 250px;
    width: 250px;
}
.zz{
    text-align: center;
}
